<!DOCTYPE html>
<html>
    <head>
        <title>Evan's Quiz Site</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    </head>
    
    <body class="container">
        <h1>
            Quiz Site
            <a href="scores" class="btn btn-primary pull-right" style="margin-left:10px">Player Scores</a>
            <a href="/" class="btn btn-primary pull-right">Question Sheet</a>
        </h1>