<% include _header %>

<% if(QuestionData.length){ %>
    <% QuestionData.forEach(function(questionData){ %>
        <% questionData.questions.forEach(function(question){ %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <%= question.questionText %>
                </div>
                <% question.answers.forEach(function(answer){ %>
                    <div class="panel-body">
                        <% if(answer.isCorrect){ %>
                            <h5 style="color:red"><%= answer.answerText %></h5>
                        <% } else { %>
                            <h5><%= answer.answerText %></h5>
                        <% } %>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    <% }) %>
<% } else { %>
    <p>No questions found!</p>
<% } %>

<% include _footer %>